{% extends 'base.html.twig' %}

{% set bodyClass = 'reporting_dashboard' %}

{% block body_head %}
    <h1>{{ 'reporting.dashboard.title.index'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}

{% endblock %}
