{% if form.vars.value.createdAt.timestamp is defined %}
    {% set submitValue = submitValue|default('registry.treatment.action.edit_submit'|trans) %}
{% else %}
    {% set submitValue = submitValue|default('registry.treatment.action.new_submit'|trans) %}
{% endif %}

{{ form_start(form) }}

<div class="row"></div>

{% include 'Registry/Conformite_traitement/_form_reponse.html.twig' with {'form': form.reponses} %}
<div class="content-header content-header-custom-padding">
    <h1>
        {{ 'registry.treatment.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
</div>
{% include 'Registry/Treatment/_form.html.twig' with {'form': form.traitement, 'object': form.vars.value.traitement} %}


{{ form_end(form) }}
