{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_proof form create' %}
{% set menuItem = 'registry_proof' %}

{% block title %}{{ 'registry.proof.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.proof.title.create'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.proof.breadcrumb.list'|trans, 'link': path('registry_proof_list') },
        { 'name': 'registry.proof.breadcrumb.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Proof/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function(){
            traiterBoutons('proof_treatments', 'Traitements');
            traiterBoutons('proof_contractors', 'Sous-traitants');
            traiterBoutons('proof_mesurements', 'Actions de protection');
            traiterBoutons('proof_requests', 'Demandes de personnes concernées');
            traiterBoutons('proof_violations', 'Violations');
            traiterBoutons('proof_tools', 'Logiciels et supports');
        })

        function traiterBoutons(label, ariaLabel) {
            const buttonElement = $(`button[data-id='${label}']`);
            if (buttonElement.attr('data-id') === undefined) {
                setTimeout(function(){
                    traiterBoutons(label, ariaLabel);
                }, 1000);
                return; // Sortie de la fonction pour éviter d'exécuter le reste du code
            }
            buttonElement.removeAttr('role');
            buttonElement.attr('aria-label', ariaLabel);
        }
    </script>
{% endblock %}

