parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''

doctrine:
    dbal:
        driver: 'pdo_mysql'
        server_version: '5.7'
        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci

        url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        dql:
            string_functions:
                JSON_CONTAINS: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonContains
                JSON_EXTRACT: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonExtract
                JSON_UNQUOTE: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonUnquote
        auto_mapping: true
        mappings:
            Admin:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Admin/Mapping'
                prefix: App\Domain\Admin\Model
                alias: Admin
            Maturity:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Maturity/Mapping'
                prefix: App\Domain\Maturity\Model
                alias: Maturity
            Registry:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Registry/Mapping'
                prefix: App\Domain\Registry\Model
                alias: Registry
            RegistryEmbeddable:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Registry/Mapping/Embeddable'
                prefix: App\Domain\Registry\Model\Embeddable
                alias: RegistryEmbeddable
            ConformiteTraitement:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Registry/Mapping/ConformiteTraitement'
                prefix: App\Domain\Registry\Model\ConformiteTraitement
                alias: ConformiteTraitement
            User:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/User/Mapping'
                prefix: App\Domain\User\Model
                alias: User
            UserEmbeddable:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/User/Mapping/Embeddable'
                prefix: App\Domain\User\Model\Embeddable
                alias: UserEmbeddable
            ConformiteOrganisation:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Registry/Mapping/ConformiteOrganisation'
                prefix: App\Domain\Registry\Model\ConformiteOrganisation
                alias: ConformiteOrganisation
            Reporting:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/src/Infrastructure/ORM/Reporting/Mapping'
                prefix: App\Domain\Reporting\Model
                alias: Reporting


