# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> DOCKER ###
HTTPD_PORT=8888
MYSQL_DATABASE=gestion-rgpd
MYSQL_USER=user
MYSQL_PASSWORD=user_pass
MYSQL_PORT=3306
PMA_PORT=8088
PHP_FPM_PORT=9000
###< DOCKER ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://user:user_pass@db:3306/gestion-rgpd
###< doctrine/doctrine-bundle ###

###> symfony/framework-bundle ###
APP_APPLICATION_NAME="Gestion RGPD"
APP_DPO_CIVILITY=m
APP_DPO_FIRST_NAME=Michaël
APP_DPO_LAST_NAME=Edlich
APP_DPO_COMPANY=Soluris
APP_DPO_JOB="Chargé de mission Solutions Documentaires Electroniques"
APP_DPO_MAIL=m.edlich@soluris.fr
APP_DPO_PHONE_NUMBER=0546923905
APP_ENV=dev
APP_MAIL_RECEIVER_DEV=~
APP_MAIL_SENDER_EMAIL=no-reply@soluris.fr
APP_MAIL_SENDER_NAME="[SOLURIS] Gestion RGPD"
APP_SECRET=a98f56b9ea67f189df8ed6a39c548503
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=gmail://username:password@localhost
###< symfony/swiftmailer-bundle ###
