# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> DOCKER ###
DOCKER_IMAGE_PHP=gitlab.adullact.net:4567/soluris/madis/php:1.1
DOCKER_IMAGE_NGINX=gitlab.adullact.net:4567/soluris/madis/nginx:1.0

HTTPD_PORT=8888
MYSQL_DATABASE=madis
MYSQL_USER=user
MYSQL_PASSWORD=user_pass
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
PMA_PORT=8088
PHP_FPM_PORT=9000
###< DOCKER ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://user:user_pass@db:3306/madis
###< doctrine/doctrine-bundle ###

### message know me at connexion ###
APP_CONNEXION_STATUS_KNOW=false

###> symfony/framework-bundle ###
APP_APPLICATION_NAME="Madis"
# Idle time is 1,5 hours in seconds
APP_COOKIE_IDLE_TIMEOUT=5400
# Cookie lifetime is 4 hours in seconds
APP_COOKIE_LIFETIME=14400
APP_DEFAULT_REFERENT="Référent RGPD"
APP_DPO_ADDRESS_CITY="Saintes"
APP_DPO_ADDRESS_STREET="2 rue des Rochers"
APP_DPO_ADDRESS_ZIP_CODE="17100"
APP_DPO_CIVILITY=m
APP_DPO_FIRST_NAME=Michaël
APP_DPO_LAST_NAME=Edlich
APP_DPO_COMPANY=Soluris
APP_DPO_JOB="Chargé de mission Solutions Documentaires Electroniques"
APP_DPO_MAIL=m.edlich@soluris.fr
APP_DPO_PHONE_NUMBER=0546923905
APP_ENV=dev
APP_FOOTER_PROVIDER_NAME=SOLURIS
APP_FOOTER_PROVIDER_URL="https://example.fr"
APP_IMAGE_FAVICON_PATH="images/logo_madis_2020_favicon.png"
APP_IMAGE_SIDEBAR_BOTTOM_TARGET_URL="htpps//example.fr"
APP_IMAGE_SIDEBAR_BOTTOM_PATH="images/soluris-logo-white.png"
APP_IMAGE_SIDEBAR_REDUCED_PATH="images/logo_madis_2020_favicon.png"
APP_IMAGE_LOGO_BLANC="images/logo_madis_2020_blanc.png"
APP_IMAGE_LOGO_COULEUR="images/logo_madis_2020_couleur.png"
APP_COMMUNE_SVG_REDUCED_PATH="images/commune.svg"
APP_IMPERSONATE_CREATOR_IS_ADMIN=0
APP_MAIL_RECEIVER_DEV=~
APP_MAIL_SENDER_EMAIL=ne-pas-repondre@awkan.fr
APP_MAIL_SENDER_NAME="Madis"
APP_SECRET=a98f56b9ea67f189df8ed6a39c548503
# lifetime duration for log journal
APP_LOG_JOURNAL_DURATION=6months
# number of lines displayed in the user dashboard for journalisation list
APP_USER_DASHBOARD_JOURNALISATION_LIMIT=15
# number of lines displayed in the user dashboard for action plan list
APP_USER_DASHBOARD_ACTION_PLAN_LIMIT=10
# number of lines displayed for each datatable
APP_DATATABLE_DEFAULT_PAGE_LENGTH=15
# Password security configuration
# password minimum length
APP_PASSWORD_REQUIRE_MIN_LENGTH=14
# if true, the password requires uppercase AND lowercase character
APP_PASSWORD_REQUIRE_CASE_DIFF=true
# if true, the password requires atleast 1 letter
APP_PASSWORD_REQUIRE_LETTERS=true
# if true, the password requires atleast 1 number
APP_PASSWORD_REQUIRE_NUMBERS=true
# if true, the password requires atleast 1 special character (&!?, etc)
APP_PASSWORD_REQUIRE_SPECIAL_CHARACTERS=true

# global maximum upload size for file uploads
APP_MAX_UPLOAD_SIZE=4M
# Maximum number of login attempts before the user account is deactivated
APP_MAX_LOGIN_ATTEMPTS=10
APP_NOTIFICATION_MAX_SHOWN=5
APP_NOTIFICATION_DASHBOARD_SHOWN=false

# Show notification icon in header
APP_ACTIVATE_NOTIFICATIONS=false

#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> CONFORMITE ORGANISATION TOOLTIP ###
###> Value used to display in tooltip in the form for the evaluation of the Conformité Organisation ###
TOOLTIP_CONFORMITE_ORGANISATION_INEXISTANTE="Rien n'est fait"
TOOLTIP_CONFORMITE_ORGANISATION_TRES_ELOIGNEE="La ou les pratique(s) sont très éloignées de la définition (Pratique <20%)."
TOOLTIP_CONFORMITE_ORGANISATION_PARTIELLE="La ou les pratique(s) sont partielles (20%<Pratique>80%) au regard de la définition.<br/>Elles ne sont pas documentées."
TOOLTIP_CONFORMITE_ORGANISATION_QUASI_CONFORME="La ou les pratiques sont conformes ou quasiment conforme à la définition (80%<Pratique>100%)."
TOOLTIP_CONFORMITE_ORGANISATION_MESURABLE="La ou les pratiques sont conforme à la définition.<br/>Elles sont documentées et contrôlables dans le cas d'un audit."
TOOLTIP_CONFORMITE_ORGANISATION_REVISEE="La ou les pratiques sont coordonnées et conforme à la définition.<br/>Des évaluations sont réalisées.<br/>Des améliorations sont systématiquement apportées à partir de l'analyse des évaluations effectuées. "
###> knplabs/knp-snappy-bundle ###
WKHTMLTOPDF_PATH=/usr/local/bin/wkhtmltopdf
WKHTMLTOIMAGE_PATH=/usr/local/bin/wkhtmltoimage
###< knplabs/knp-snappy-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_PRIVATE_KEY_PATH=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY_PATH=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=your_secret_passphrase
###> lexik/jwt-authentication-bundle ###
###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/mailer ###
 MAILER_DSN=null://null
###< symfony/mailer ###
