{% block form_row %}
    {% spaceless %}
        <div>
            <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
                {{ form_label(form, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                <div class="form-group has-feedback">
                    {{- form_widget(form) -}}
                    {{ form_errors(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
