registry_mesurement_list:
    path: '/liste'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:listAction'

registry_mesurement_list_datatables:
    path: '/datatables'
    methods: ['POST']
    controller: 'App\Domain\Registry\Controller\MesurementController:listDataTables'

registry_mesurement_action_plan:
    path: '/plan-d-actions'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:actionPlanAction'

registry_mesurement_create:
    path: '/creer'
    methods: ['GET', 'POST']
    controller: 'App\Domain\Registry\Controller\MesurementController:createAction'

registry_mesurement_edit:
    path: '/editer/{id}'
    methods: ['GET', 'POST']
    controller: 'App\Domain\Registry\Controller\MesurementController:editAction'

registry_mesurement_show:
    path: '/visualiser/{id}'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:showMesurementAction'

registry_mesurement_report:
    path: '/bilan'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:reportAction'

registry_mesurement_delete:
    path: '/supprimer/{id}'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:deleteAction'

registry_mesurement_delete_confirm:
    path: '/supprimer/{id}/confirmation'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:deleteConfirmationAction'

registry_mesurement_delete_all:
    path: '/supprimer-tous/'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:deleteAllAction'

registry_mesurement_print_all:
    path: '/imprimer-tous'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:pdfAllAction'

registry_mesurement_delete_all_confirm:
    path: '/supprimer-tous/confirmation'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:deleteConfirmationAllAction'

api_registry_mesurement_collectivity:
    path: '/api/collectivite/{collectivityId}'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:apiGetMesurementsByCollectivity'

api_registry_mesurement_modal_create:
    path: '/modal-create'
    methods: ['POST']
    controller: 'App\Domain\Registry\Controller\MesurementController:createFromJsonAction'

registry_mesurement_pdf:
    path: '/pdf/{id}'
    methods: ['GET']
    controller: 'App\Domain\Registry\Controller\MesurementController:pdfAction'
