<tr>
    <td><strong>{{ 'global.label.linked_contractor'|trans }}</strong></td>
    <td>
        {% if contractors|length > 0 %}
            <ul class="ps-1">
                {% for contractor in contractors %}
                    <li>
                        <a href="{{ path('registry_contractor_show', { id: contractor.id }) }}">
                            {{ contractor.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_contractor'|trans }}</i></span>
        {% endif %}
    </td>
</tr>
