<div class="box box-solid box-warning">
    <div class="box-header with-border"><h3 class="box-title">{{ 'global.label.linked_tool'|trans }}</h3></div>
    <div class="box-body">
        {% if tools|length > 0 %}
            <ul>
                {% for tool in tools %}
                    <li>
                        <a href="{{ path('registry_tool_show', { id: tool.id }) }}">
                            {{ tool.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span><i>{{ 'global.label.no_linked_tool'|trans }}</i></span>
        {% endif %}
    </div>
</div>
