{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement form create' %}
{% set menuItem = 'registry_mesurement' %}

{% block title %}{{ 'registry.mesurement.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.mesurement.title.create'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.breadcrumb.list'|trans, 'link': path('registry_mesurement_list') },
        { 'name': 'registry.mesurement.breadcrumb.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Mesurement/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            traiterBoutons();
        })

        function traiterBoutons() {
            $('select').each(function(){
                const label = $(this).attr('aria-label');
                const dataIdValue = $(this).attr('id');
                const buttonElement = $(`button[data-id="${dataIdValue}"]`);
                if (typeof buttonElement.attr('data-id') === 'undefined'){
                    setTimeout(function(){
                            traiterBoutons()}
                        ,1000
                    )
                }
                buttonElement.removeAttr('role');
                buttonElement.attr('aria-label', label)
            })
        }
    </script>
{% endblock %}
