/* Header */
.main-header .logo-mini img {
  max-width: 2em;
  max-height: 2em;
}

.main-header .sidebar-toggle:before {
  content: "";
}

/* Sidebar */
.sidebar-logo {
    & img {
      width: 195px;
      height: auto;
    }
}
.sidebar-collapse .sidebar-logo {
    display: none;
}

/* Form */
.form-group>label.required:after {
  content: '*';
}
.complex-choice-group label.col-sm-2 {
  text-align: left;
  width: 100%;
}
.delay-group .one-line {
  vertical-align: middle;
  > div {
    display: inline-block; vertical-align: middle;
  }
  > div:nth-child(1) {
    width: 25%;
  }
  > div:nth-child(2) {
    width: 20%;
  }
}

.has-feedback .form-control-feedback {
  pointer-events: auto;
  cursor: pointer;
}

/* Pages */
div.action-bar {
  margin-bottom: 1em;
}

/* Show */
body.show .content ul {
  -webkit-padding-start: 15px;
}
