/* Sidebar */
.main-header .sidebar-toggle:before {
  content: "";
}

.sidebar-logo {
    & img {
      padding: 20px 5px 12px 0;
      width: 190px;
      height: auto;
    }
}
.sidebar-collapse .sidebar-logo {
    display: none;
}

/* Form */
.form-group>label.required:after {
  content: '*';
}
.complex-choice-group label.col-sm-2 {
  text-align: left;
  width: 100%;
}
.delay-group .one-line {
  vertical-align: middle;
  > div {
    display: inline-block; vertical-align: middle;
  }
  > div:nth-child(1) {
    width: 25%;
  }
  > div:nth-child(2) {
    width: 20%;
  }
}

/* Pages */
div.action-bar {
  margin-bottom: 1em;
}

/* Show */
body.show ul {
  -webkit-padding-start: 15px;
}
