<div class="row">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    {% for reponse in form.referentielSections.referentielQuestions %}
        {% include 'Maturity/Referentiel/_form_referentiel_question.html.twig' with {'form': reponse} %}
    {% endfor %}
</div>
