<div class="box box-solid">
    <div class="box-body">
        <div class="float-left">
        <i class="fas fa-ellipsis-v" style="padding: 0 0.5em 0 0.4em; cursor: grab;line-height: 2em"></i>
        </div>
        <div class="col-md-5">
            {{ form_row(form.position) }}
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.recommendation) }}
        </div>
    </div>
</div>
