<div class="row">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    {% for question in section.referentielQuestions %}
        {%  include 'Maturity/Referentiel/_form_referentiel_question.html.twig' with {'form': question} %}
    {% endfor %}

</div>
