<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="box box-solid box-info">
                <div class="box-body">
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.recommendation) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
