<div class="box box-solid">
    <div class="box-header">
        <div class="col-md-5">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.recommendation) }}
        </div>
    </div>
</div>
