<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <span class="logo-mini">RGPD</span>
        <span class="logo-lg">Gestion <b>RGPD</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="{{ path('logout') }}" class="dropdown-toggle">
                        <span class="hidden-xs">John Doe&nbsp;&nbsp;&nbsp;</span>
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
