<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

        <li {% if bodyClass == 'reporting_dashboard' %}class="active"{% endif %}>
            <a href="{{ path('reporting_dashboard_index') }}">
                <i class="fa fa-tachometer-alt"></i>
                <span>Tableau de bord</span>
            </a>
        </li>

        <li class="header">Registres</li>
        <li {% if bodyClass == 'registry_treatment' %}class="active"{% endif %}>
            <a href="{{ path('registry_treatment_list') }}">
                <i class="fa fa-file"></i>
                <span>Traitements</span>
            </a>
        </li>

        {# ADMINISTRATION #}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="header">Espace d'administration</li>
            <li {% if bodyClass == 'admin_collectivity' %}class="active"{% endif %}>
                <a href="{{ path('admin_collectivity_list') }}">
                    <i class="fa fa-briefcase"></i>
                    <span>Collectivités</span>
                </a>
            </li>
            <li {% if bodyClass == 'user_user' %}class="active"{% endif %}>
                <a href="{{ path('user_user_list') }}">
                    <i class="fa fa-users"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>
        {% endif %}
    </ul>
</section>
