{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment form create' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.treatment.title.create'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.breadcrumb.list'|trans, 'link': path('registry_treatment_list') },
        { 'name': 'registry.treatment.breadcrumb.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Treatment/_form.html.twig') }}
{% endblock %}
